body {
    font-family: italic;  sans-serif; /* Семейство шрифтов */
    font-style: italic;
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #D6FF6B; /* Цвет фона веб-страницы */
    color: #5988FF; /* Цвет основного текста */ 
}
h1 {
    color: #5988FF; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Inter, serif; /* Семейство шрифтов */
}
